.box {
  max-height: 100rem;
  min-height: 5rem;
  background-color: #ffffff;
  border: solid 2px #f2f2f2;
}
.total {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  font-family: "Cinzel Extra Bold", serif;
}
.title {
  font-family: "Cinzel Extra Bold", serif;
  font-size: 1.5rem;
}
.resume {
  font-family: "Cinzel Extra Bold", serif;
}
.btn-resumen {
  width: 28%;
}
.cartQuantity {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border-radius: 12px;
  background: white;
  color: black;
}
.show-button-close {
  display: none;
}
