<div class="reset">
    <div class="w-100 header">
        <button type="button" class="btn-close header" aria-label="Close"><i class="far fa-times-circle"></i></button>
    </div>
    <div class="py-3 w-100 d-inline">
        <div class="container text-center box">
            <h2><span class="jb">JB</span><span class="sushi">Sushi</span></h2>
            <p class="px-5 pt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita pariatur nihil modi accusantium fuga, consectetur sequi soluta sunt magni nobis nisi quibusdam porro alias illum esse ex ut sapiente enim!</p>
        </div>
    </div>
</div>