<div class="row w-100">
    <div class="col-12 w-50 col-md-6">
        <img class="w-100 d-inline-block" src="../../../assets/sushi1.jpeg" alt="">
    </div>
    <div class="col-12 w-50 col-md-6">
        <img class="w-100 d-inline-block" src="../../../assets/sushi3.jpeg" alt="">
    </div>
</div>

<div class="row">
    <div class="col-12 w-50 col-md-6">
        <img class="w-100 d-inline-block" src="../../../assets/sushi6.jpg" alt="">
    </div>
    <div class="col-12 w-50 col-md-6">
        <img class="w-100 d-inline-block" src="../../../assets/sushi7.jpg" alt="">
    </div>
</div>