.title {
  font-size: 3.2rem;
  font-family: "Cinzel Extra Bold", serif;
}
.box {
  padding: 5rem 0px;
}
.title1 {
  font-family: "Cinzel Extra Bold", serif;
}
.card {
  border: black solid 5px;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
}
.productDetail {
  font-family: cursive, serif;
}
.card:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  transition: 300ms;
}
.contenedor {
  overflow: hidden;
}
